.quiz {
background-image: url("img/back.png");
  color: aliceblue;
  font-weight: bold;
  text-align: center;

}
ion-input{
    padding: 10px;
    font-size: 18px;
}
center{
    font-family: Parkavenue, cursive
}