.auth {
     text-align: center;
background-image: url("img/addQuiz.png")}

p{
   
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 25px;
    color: white
}
center{
    font-family: Parkavenue, cursive
}